{% extends 'pages/base.html' %}

{% block title %}Inbox{% endblock %}

{% block content %}
<h1 class="mb-6 text-3xl">Your Inbox</h1>

<div class="space-y-6">
    {% for conversation in conversations %}
    <a href="{% url 'conversation:detail' conversation.id %}" class="block">
        <div class="p-6 flex bg-gray-100 rounded-xl hover:bg-gray-200 transition">
            <div class="pr-6">
                {% if conversation.item.images.first %}
                    <img src="{{ conversation.item.images.first.image.url }}" class="w-20 rounded-xl" alt="Item Image">
                {% else %}
                    <img src="path/to/default/image.jpg" class="w-20 rounded-xl" alt="Default Image">
                {% endif %}
            </div>

            <div class="flex-1">
                {% for member in conversation.members.all %}
                    {% if member != request.user %}
                        <p class="mb-2 font-semibold">{{ member.username }} | <span class="text-gray-500">{{ conversation.modified_at }}</span></p>
                        <p class="text-gray-700">{{ conversation.item.name }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
